<div class="container">
  <h1><%= current_user.id %>'s Booking</h1>
  <% @bookings.each do |booking| %>
    <% @title = booking.course.name %>
    <% @description = "#{booking.date} / #{booking.time_slot}" %>
    <% @price = booking.status %>
    <% render 'shared/course-card' %>
  <% end %>
</div>
