<div class="container">
  <% if params[:chefdashboard] %>
    <h1>Your Chef Dashboard</h1>
    <% @chef_bookings.each do |booking| %>
      <% @booking = booking %>
      <%= render 'shared/course-confirm-card' %>
    <% end %>
  <% else %>
    <h1>Your Booking</h1>
    <% @bookings.each do |booking| %>
      <% @title = booking.course.name %>
      <% @description = "#{booking.date} / #{booking.time_slot}" %>
      <% @price = booking.status %>
      <%= link_to course_path(booking.course) do %>
        <%= render 'shared/course-card' %>
      <% end %>
    <% end %>
  <% end %>
</div>
