<div id="carouselCourseListControls" class="carousel slide p-2 mb-4 rounded carousel-movie-base" data-ride="carousel">
  <div class="carousel-inner">
    <%  courses.each_slice(card_count) do |s_course| %>
      <div class="carousel-item<%= courses.first == s_course[0] ? " active" : "" %>">
        <div class="cards py-2 px-2">
          <%  s_course.each do |course| %>
            <%= link_to course_path(course) do %>
              <% initial = course.chef_profile.user.first_name.nil? ? course.chef_profile.user.email[0].upcase : course.chef_profile.user.first_name[0].upcase; %>
              <% header_image_tag = course.photo.attached? ? cl_image_tag(course.photo.key)
                : cl_image_tag("https://dummyimage.com/1000x500/fff/000&text=Sorry!%20No%20photo%20attached",type: "fetch") %>
              <% user_image_tag = course.chef_profile.user.photo.attached? ? cl_image_tag(course.chef_profile.user.photo.key, class: "card-trip-user avatar-bordered", aspect_ratio: "1.0", crop: :thumb)
                : cl_image_tag("https://dummyimage.com/200x200/fff/000&text=#{initial}",type: "fetch", class: "card-trip-user avatar-bordered") %>
              <% render 'shared/square-card', title: course.name, status: "¥#{number_with_delimiter(course.price)}", 
                      header_image_tag: header_image_tag,
                      user_image_tag: user_image_tag %>
            <% end %>
          <% end %>
          <!-- Add empty card to prevent carousel from collapsing when resize the screen (to keep it 4x1 or 2x2)-->
          <% if s_course.count < card_count %>
            <% (card_count - s_course.count).times do %>
              <div class="card-category card-category-bg invisible"></div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev small-carousel-btn" href="#carouselCourseListControls" role="button" data-slide="prev">
    <span class="" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next small-carousel-btn" href="#carouselCourseListControls" role="button" data-slide="next">
    <span class="" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
</div>
