<div class="card-trip mb-3 d-flex flex-column justify-content-between" id="card-trip-flow">
  <%= header_image_tag %>
  <div class="card-trip-infos">
    <div class="card-text">
      <h2><%= title %></h2>
      <h4 class="text-capitalize"><%= sub_title %></h3>
    </div>
    <h2 class="card-trip-text-padding"><%= status %></h2>
  </div>
</div>
