<div class="card-trip mb-3 d-flex flex-column justify-content-between">
  <%= cl_image_tag(header_image_url, :type=>"fetch") %>
  <div class="card-trip-infos">
    <div class="card-text-wrap">
      <h2><%= title %></h2>
    </div>
    <h2 class="card-trip-text-padding"><%= status %></h2>
    <%= cl_image_tag(user_image_url, :type=>"fetch", class: "card-trip-user avatar-bordered") %>
  </div>
</div>
