<div class="card-trip mb-3 d-flex flex-column justify-content-between">
  <%= header_image_tag %>
  <div class="card-trip-infos">
    <div class="d-flex flex-column justify-content-between h-100">
      <h2><%= title %></h2>
      <h2 class="w-100 text-right"><%= status %></h2>
    </div>
    <%= user_image_tag %>
  </div>
</div>
