<div class="banner d-flex flex-column justify-content-center">
  <div class="container">
    <h1>Browse for courses...</h1>
    <form action="/courses">
      <div class="form-group row">
        <div class="col-8">
          <input type="text" class="form-control" id="query" name="query" value="" placeholder="Vegan Smoked Bacon">
        </div>
        <input type="submit" class="btn btn-light mr-3" value="Search now!">
        <a href="/courses" class="btn btn-light d-flex align-items-center justify-content-center">Show all courses</a>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h2 class="mt-3">Famous Courses</h2>
  <div class="my-2">
    <%= render 'shared/carousel-course', courses: @courses, card_count: 4 %>
  </div>
  <!--
  <h2 class="mt-3">Famous Chefs</h2>
  <div class="cards">
    <% 5.times do |i| %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/300x300/?food,<%= i + 10 %>" />
          <div class="card-trip-infos">
            <div>
              <h2>Chef Name</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-text-padding">£99.99</h2>
            <img src="https://source.unsplash.com/100x100/?human,chef,<%= i + 10 %>" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
  -->
</div>
