<div class="banner d-flex flex-column justify-content-center">
  <div class="container">
    <h1>Browse for courses...</h1>
    <form action="/courses">
      <div class="form-group row">
        <div class="col-8">
          <input type="text" class="form-control" id="query" name="query" value="" placeholder="Vegan Smoked Bacon">
        </div>
        <input type="submit" class="btn btn-light mr-3" value="Search now!">
        <a href="/courses" class="btn btn-light d-flex align-items-center justify-content-center">Show all courses</a>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h2 class="mt-3">Famous Courses</h2>
  <div class="my-2">
    <div id="carouselCourseListControls" class="carousel slide p-2 mb-4 rounded carousel-movie-base" data-ride="carousel">
      <div class="carousel-inner">
        <%  @courses.each_slice(4) do |s_course| %>
          <div class="carousel-item<%= @courses.first == s_course[0] ? " active" : "" %>">
            <div class="cards py-2 px-2">
              <%  s_course.each do |course| %>
                <% @title = course.name %>
                <% @description = "" %>
                <% @price = "$#{course.price}" %>
                <%= link_to course_path(course) do %>
                  <% render 'shared/square-card' %>
                <% end %>
              <% end %>
              <!-- Add empty card to prevent carousel from collapsing when resize the screen (to keep it 4x1 or 2x2)-->
              <% if s_course.count < 4 %>
                <% (4 - s_course.count).times do %>
                  <div class="card-category card-category-bg invisible"></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev small-carousel-btn" href="#carouselCourseListControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next small-carousel-btn" href="#carouselCourseListControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!--
  <h2 class="mt-3">Famous Chefs</h2>
  <div class="cards">
    <% 5.times do |i| %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/300x300/?food,<%= i + 10 %>" />
          <div class="card-trip-infos">
            <div>
              <h2>Chef Name</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-text-padding">£99.99</h2>
            <img src="https://source.unsplash.com/100x100/?human,chef,<%= i + 10 %>" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
  -->
</div>
