<div class="container">
  <h2><%= location.first_name %> <%= location.last_name %></h2>
  <p><%= location.address %></p>
  <img src="https://i.nctodo.com/img/cooking-faqs-2018/chef-jobs-and-chef-job-descriptions.jpg">
</div>



