<div class="container">
  <h1>Result of: <%= params[:query] %></h1>
  <% @courses.each do |course| %>
    <% @title = course.name %>
    <% @description = course.description %>
    <% @price = course.price %>
    <%= render 'shared/course-card' %>
  <% end %>
</div>
