<div class="container">
  <% if params[:query] %>
    <h1>Result of: <%= params[:query] %></h1>
  <% else %>
    <h1>Our courses</h1>
  <% end %>
  <% @courses.each do |course| %>
    <% @title = course.name %>
    <% @description = course.description %>
    <% @price = "¥#{course.price}" %>
    <% @cuisine_type = course.cuisine_type %>
    <% @course = course %>
    <%= link_to course_path(course) do %>
      <% render 'shared/course-card' %>
    <% end %>
  <% end %>
</div>
