<div class="container">
  <h1><%= @course.name %></h1>
  <% @title = @course.name %>
  <% @description = @course.description %>
  <% @price = @course.price %>
  <%= render 'shared/course-card' %>
  <h2>Add a review</h2>
  <%= render 'form' %>
</div>
