<div class="container">
  <h1><%= @course.name %></h1>
  <%= render 'shared/fullpage-card', title: @course.name, status: "¥#{@course.price}", 
      description: @course.description, sub_title: @course.cuisine_type,
      header_image_url: "https://source.unsplash.com/800x500/?food-'#{@course.name.split[-2]}'",
      user_image_url: "https://source.unsplash.com/100x100/?face-'#{@course.chef_profile.user_id}'" %>
  <% if current_user != @course.chef_profile.user %>
    <h2>Book this course</h2>
    <%= render 'bookings/form' %>
  <% else %>
    <div class="disabled p-3">
      <h2>This is your own course</h2>
      <%= render 'bookings/form' %>
    </div>
  <% end %>
</div>
