<div class="container">
  <h1><%= @course.name %></h1>
  <% @title = @course.name %>
  <% @description = @course.description %>
  <% @price ="¥#{@course.price}" %>
  <% @cuisine_type = @course.cuisine_type %>
  <%= render 'shared/fullpage-card' %>
  <% if current_user != @course.chef_profile.user %>
    <h2>Book this course</h2>
    <%= render 'bookings/form' %>
  <% else %>
    <div class="disabled p-3">
      <h2>This is your own course</h2>
      <%= render 'bookings/form' %>
    </div>
  <% end %>
</div>
